name: Azure Connection Test

on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      #  Authenticate to Azure using Service Principal
      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
       # Step 4: Validate Resource Group exists
      - name: Validate Resource Group
        run: |
          az group show --name sitecorexmgithub
  
       # Step 5: List resources under Resource Group
      - name: List Resources in Resource Group
        run: |
          az resource list --resource-group sitecorexmgithub --output table
      #  Create Storage Account in Resource Group
      - name: Create Storage Account
        run: |
          az storage account create \
            --name storageacctxmgithub \
            --resource-group sitecorexmgithub \
            --location eastus \
            --sku Standard_LRS \
            --kind StorageV2
      # Create Storage Container in the Storage Account
      - name: Create Storage Container
        run: |
          az storage container create \
            --name containergithub \
            --account-name storageacctxmgithub \
            --auth-mode login

        # Step: Create Azure Key Vault (equivalent to AzurePowerShell@5 task)
        # commenting as azure key vault created from here
      #- name: Create Azure Key Vault
        #shell: pwsh
        #run: |
          #$KeyVaultName = "kv-github-scxm"
          #$ResourceGroupName = "sitecorexmgithub"
          #$Location = "eastus2"
          #Write-Host "Creating Key Vault $KeyVaultName in $ResourceGroupName..."
         # az keyvault create `
            #--name $KeyVaultName `
            #--resource-group $ResourceGroupName `
            #--location $Location
      - name: Add secrets to Key Vault (inline PowerShell)
        uses: azure/powershell@v1
        with:
          inlineScript: |
            $ResourceGroupName = "sitecorexmgithub"
            $KeyVaultName      = "kv-github-scxm"

            # Example secrets (replace with GitHub secrets or pipeline variables)
            $sitecoreAdminPassword    = "Sitecore@2025"
            $sqlServerPassword        = "Sitecore@2025"
            $authCertificatePassword  = "Sitecore@2025"

            # Add secrets directly to Key Vault
            az keyvault secret set --vault-name $KeyVaultName --name "sitecoreAdminPassword"    --value $sitecoreAdminPassword
            az keyvault secret set --vault-name $KeyVaultName --name "sqlServerPassword"        --value $sqlServerPassword
            az keyvault secret set --vault-name $KeyVaultName --name "authCertificatePassword"  --value $authCertificatePassword
          azPSVersion: latest
          errorActionPreference: stop
          failOnStandardError: false    
     
