name: Azure Connection Test


on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      #  Authenticate to Azure using Service Principal
      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}
       # Step 4: Validate Resource Group exists
      - name: Validate Resource Group
        run: |
          az group show --name sitecorexmgithub
  
       # Step 5: List resources under Resource Group
      - name: List Resources in Resource Group
        run: |
          az resource list --resource-group sitecorexmgithub --output table
      #  Create Storage Account in Resource Group
      - name: Create Storage Account
        run: |
          az storage account create \
            --name storageacctxmgithub \
            --resource-group sitecorexmgithub \
            --location eastus \
            --sku Standard_LRS \
            --kind StorageV2
