name: Azure Connection Test

on:
  push:
    branches: [ main ]
jobs:
  azure-setup:
    runs-on: ubuntu-latest

    steps:
    # Step 1: Checkout your repo
    - name: Checkout
      uses: actions/checkout@v3

    # Step 2: Log in to Azure using Service Principal
    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
       

    # Step 3: Create Resource Group
    - name: Create Resource Group
      run: |
        az group create \
          --name sitecorexmmonika \
          --location eastus

    # Step 4: Validate connection
    - name: Validate Resource Group
      run: |
        az group show --name sitecorexmmonika
