name: Sitecore 1041 XM Installation 

on:
  workflow_dispatch:

jobs:
  upload:
    runs-on: windows-latest
    env:
      STORAGE_RG: ${{ secrets.RESOURCEGROUP_NAME }}
      STORAGE_ACCOUNT_NAME: ${{ secrets.STORAGE_ACCOUNT_NAME }}
      STORAGE_CONTAINER: ${{ secrets.STORAGE_CONTAINER }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      # Upload files to Blob
      - name: Upload Sitecore packages
        run: |
          az storage blob upload-batch `
            --account-name ${{ secrets.STORAGE_ACCOUNT_NAME }} `
            --destination ${{ secrets.STORAGE_CONTAINER }} `
            --source "${{ github.workspace }}/Sitecore10.4.1-XMScaled-CI/drop" `
            --auth-mode key `
            --account-key ${{ secrets.STORAGE_ACCOUNT_KEY }} `
            --destination-path "xmscaled/arm"

      # Generate SAS token and Blob URI
      - name: Generate SAS Token
        id: sas
        run: |
          $expiry = (Get-Date).AddHours(10).ToString("yyyy-MM-ddTHH:mm:ssZ")
          $sas = az storage account generate-sas `
            --account-name ${{ secrets.STORAGE_ACCOUNT_NAME }} `
            --account-key ${{ secrets.STORAGE_ACCOUNT_KEY }} `
            --services b `
            --resource-types sco `
            --permissions rwlac `
            --expiry $expiry `
            --https-only `
            -o tsv
          echo "sasToken=$sas" >> $env:GITHUB_OUTPUT
          $blobUri = "https://${{ secrets.STORAGE_ACCOUNT_NAME }}.blob.core.windows.net/${{ secrets.STORAGE_CONTAINER }}"
          echo "blobUri=$blobUri" >> $env:GITHUB_OUTPUT

      # Example usage of SAS token in later steps
      - name: Show SAS Outputs
        run: |
          echo "Blob URI: ${{ steps.sas.outputs.blobUri }}"
          echo "SAS Token: ${{ steps.sas.outputs.sasToken }}"
     # Step 1: Download Azure Toolkit from blob
      - name: Run PowerShell Script
        shell: pwsh
        run: |
          $scriptPath = "${{ github.workspace }}/Sitecore10.4.1-XMScaled-CI/drop/DownloadCOntainerFolders.ps1"
          $args = "-ResourceGroupName $env:STORAGE_RG -StorageAccountName $env:STORAGE_ACCOUNT_NAME -ContainerName $env:STORAGE_CONTAINER -Prefix azuretoolkit -Destination ${{ github.workspace }}"
          Write-Host "Running script: $scriptPath $args"
          & $scriptPath $args

      # Step 2: Extract toolkit zip files
      - name: Extract files
        shell: pwsh
        run: |
          $archivePath = "${{ github.workspace }}\azuretoolkit\*.zip"
          $destination = "${{ github.workspace }}\blob"
          Write-Host "Extracting $archivePath to $destination"
          New-Item -ItemType Directory -Force -Path $destination | Out-Null
          Get-ChildItem $archivePath | ForEach-Object {
            Expand-Archive -Path $_.FullName -DestinationPath $destination -Force
          }
