name: Sitecore Build & Package

on:
  workflow_call:   # allows other workflows to call this one
 
permissions:
  contents: read
  actions: write

jobs:
  build:
    runs-on: windows-latest
    env:
      STORAGE_ACCOUNT_NAME: ${{ secrets.STORAGE_ACCOUNT_NAME }}
      STORAGE_ACCOUNT_KEY: ${{ secrets.STORAGE_ACCOUNT_KEY }}
    outputs:
      artifact-name: drop   # expose artifact name to caller
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Prepare artifact staging directory
        shell: pwsh
        run: |
          $artifact = Join-Path $Env:GITHUB_WORKSPACE 'artifactstaging'
          if (Test-Path $artifact) { Remove-Item $artifact -Recurse -Force }
          New-Item -ItemType Directory -Path $artifact | Out-Null
          echo "ARTIFACT_DIR=$artifact" >> $Env:GITHUB_ENV

      - name: Copy XPScaled ARM Templates
        shell: pwsh
        run: |
          Copy-Item -Path (Join-Path $Env:GITHUB_WORKSPACE 'SitecoreVanila/*') -Destination $Env:ARTIFACT_DIR -Recurse -Force

      - name: Copy PS Scripts
        shell: pwsh
        run: |
          $source = Join-Path $Env:GITHUB_WORKSPACE 'Sitecore104Vanila\Scripts'
          $target = Join-Path $Env:ARTIFACT_DIR 'Scripts'
          if (-not (Test-Path $target)) { New-Item -ItemType Directory -Path $target | Out-Null }
          Copy-Item -Path (Join-Path $source '*') -Destination $target -Recurse -Force
      

      - name: Copy Pre deploy scripts
        shell: pwsh
        run: |
          $source = Join-Path $Env:GITHUB_WORKSPACE 'PreDeployment'
          $target = Join-Path $Env:ARTIFACT_DIR 'PreDeployment'
          if (-not (Test-Path $target)) { New-Item -ItemType Directory -Path $target | Out-Null }
          Copy-Item -Path (Join-Path $source '*') -Destination $target -Recurse -Force
      
      - name: Upload artifact:drop
        uses: actions/upload-artifact@v4
        with:
          name: drop
          path: ${{ github.workspace }}/artifactstaging
